.image {
    
    float: right;
    width: 210px;
    height: 90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}

.performances{
    background-image:  url("image/staer.jpg");
    background-size:cover ;
    width: 100%;
    height: 100vh;
    top: 70px;
    



}
.partie{
    color:black;
    float:left;


}
.obj{
    color:black;
    float: left;
    margin-left: 20px;

}

.des{
    color:black;
    float: right;
    margin-right: 300px;
}
.col{
    color: black;
    float: right;
    margin-bottom: 30px;
    margin-left: 200px;
    size: 50px;;
}
#stock{
    color: black;
}
.sac{
    float:inline-end;
    width: 190px;
    height:90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}
.im{
    float: right;
    width:190px;
    height: 90px;
    top: 10px;
    margin-top: 10px;
   display: flex;
}
.work{
   color:palevioletred;
    float: left;
    width: 210px;
    height: 90px;
    top: 40px;
    margin-top: 10px;
    margin-right: 600px;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .habit{
    position: absolute;
    top: 50px;
    left: 100px;
}
.acces{
    position: absolute;
    top: 50px;
    right: 150px;
}
.dessous{
    position: absolute;
    top: 50px;
    left: 500px;
}
.image1{
    width: 1200px;
    height: 300px;
}
.image2{
    position: relative;
}
.image3{
    position: relative;
    left: 50px;
}
.image4{
    position: relative;
    left: 100px;
}
.image5{
    position: relative;
    left: 200px;
}
.image6{
    position: relative;
}
.image7{
    position: relative;
}
.image8{
    position: relative;
}
.montre{
    position: absolute;
    top: 500px;
}
.patalon{
    position: absolute;
    top: 500px; 
    right: 690px;
    color: maroon;
}
.robe{
    position: absolute;
    top: 500px;
    right: 400px;
}
.sous{
    position: absolute;
    top: 500px;
    right: 90px;
    color: maroon;
}
.sac{
    position: absolute;
    top: 1050px;
    color: maroon;
}
.boucle{
    position: absolute;
    top: 1050px;
    right: 500px;
    
}
.ensemble{
    position: absolute;
    top: 1050px;
    right: 200px; 
    color: maroon;
}




}


